<!DOCTYPE html>
<html lang ="en">
    <head>

        <meta charset ="UTF-8">
        <meta name ="viewport" content ="width=device-width, initial-scale=1.0">
        <title > Blog do Léo Guidetti </title >

        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <!-- Custom styles for this template -->
        <link href="{{ './assets/css/style.css' | relative_url }}" rel="stylesheet">    
    
    </head>

    <!--Navigation -->
    <nav class="navbar customBar navbar-expand-lg navbar-dark fixed-top">
        <div class="container">
          <img src="{{ './assets/images/luminaria.png' | relative_url }}" class="imagem">
          <a class="navbar-brand" href="{{ './' | relative_url }}">Blog do Guidetti</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item active">
                <a class="nav-link" href="{{ './' | relative_url}}">Home
                </a>
              </li>
            </ul>
          </div>
        </div>
    </nav>

    <body>
      {{ content }}
    </body>

    <!-- Footer -->
    <footer class="py-3 customBar fixed-bottom">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; guidetti-website 2020</p>
    </div>
    <!-- /.container -->
  </footer>
</html>

